{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container">
    <h1>Items</h1>
    <form method="get">
      <div class="form-row align-items-center">
        <div class="col-auto">{{ form.description|as_crispy_field }}</div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-2">Search</button>
        </div>
      </div>
    </form>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Description</th>
          <th>Default Cost</th>
          <th>Average Cost</th>
        </tr>
      </thead>
      <tbody>
        {% for item in page_obj %}
          <tr>
            <td>{{ item.ls_item_id }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.default_cost }}</td>
            <td>{{ item.average_cost }}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="4">No items found.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include "pagination.html" with entities=page_obj %}
  </div>
{% endblock content %}
