{% extends "admin/change_list.html" %}
{% load admin_urls %}
{% load static %}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'admin/css/forms.css' %}">
{% endblock extrastyle %}
{% block object-tools %}
    {{ block.super }}
    <form method="post" action="{% url opts|admin_urlname:'add' %}">
        {% csrf_token %}
        <table>
            {# Add your model fields here #}
            <tr>
                {% for field in opts.fields %}
                    <td>
                        <label for="id_{{ field.name }}"
                               {% if field.name == 'id' %}hidden{% endif %}>{{ field.verbose_name|title }}:</label>
                        <input type="text"
                               name="{{ field.name }}"
                               id="id_{{ field.name }}"
                               {% if field.name == 'id' %}hidden{% else %}required{% endif %}>
                    </td>
                {% endfor %}
                <td>
                    <input type="submit" value="Add Code">
                </td>
            </tr>
        </table>
    </form>
{% endblock object-tools %}
