{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            {% for module_function, button_description in buttons.items %}
                <div class="col">
                    <a class="text-decoration-none btn btn-lg btn-secondary my-2 py-3"
                       href="{% url 'functions:home' module_function_name=module_function %}">
                    {{ button_description }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
    <hr />
    <div>
        <textarea class="form-control" id="status" cols="100" rows="5"></textarea>
    </div>
    <script>{% include "functions/home.js" %}</script>
{% endblock content %}
