{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h2>{{ title }}</h2>
    <ul class="serial-list">
        {% for serial in page_obj %}
            <div>
                <li class="serial-item">
                    {{ serial.value_1 }} |
                    {{ serial.value_2 }} |
                    {{ serial.serial_number }} |
                    {{ serial.description }}
                </li>
            </div>
        {% endfor %}
    </ul>
    <style>
.serial-list {
    list-style: none;
    padding: 0;
}

.serial-item {
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
}
    </style>
    {% include "pagination.html" with entities=page_obj %}
{% endblock content %}
