<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    {% load pwa %}
    {% load static %}
    <head>
        {% progressive_web_app_meta %}
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Shiny API" />
        <meta name="keywords" content="Shiny, API" />
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
              crossorigin="anonymous"/>
        <link href="{% static 'shiny.css' %}?1" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <title>{{ title }}</title>
    </head>
    <body>
        <header class="site-header">
            <nav class="navbar">
                <div class="container-fluid">
                    <a class="nav-link" href="{% url 'label_printer:home' %}">Label Printer</a>
                    <a class="nav-link" href="{% url 'check_in:home' %}">Check in</a>
                    <a class="nav-link" href="{% url 'ls_functions:home' %}">Lightspeed Functions</a>
                    <a class="nav-link" href="{% url 'inventory:item_list' %}">Inventory/Items</a>
                    <a class="nav-link" href="{% url 'customers:customer_list' %}">Customers</a>
                    <a class="nav-link" href="{% url 'sickw:bulk_lookup' %}">Sickw</a>
                    <a class="nav-link" href="{% url 'config:config_list' %}">Config</a>
                    <a class="nav-link" href="{% url 'serial_camera:home' %}">Serial Camera</a>
                </div>
            </nav>
            {% block navbar %}
            {% endblock navbar %}
        </header>
        <main role="main" class="container">
            <div class="body-content m-3">
                <div class="col-md-8">
                    {% if messages %}
                        {% for message in messages %}<div class="alert alert-{{ message.tags }}">{{ message }}</div>{% endfor %}
                    {% endif %}
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
        </main>
        <hr />
        <footer>
            <p>©Shiny Computers 2023</p>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
                crossorigin="anonymous"></script>
    </body>
</html>
